@font-face {
  font-family: "Mouse Memoirs";
  font-display: swap;
  font-weight: 400;
  src: url("../../fonts/MouseMemoirs-Regular.ttf") format("truetype");
}

body {
  font-family: var(--font);
  font-size: 2.6rem;
  line-height: 120%;
  letter-spacing: 1.3px;

  @include mixins.respond(tab-land) {
    font-size: 2rem;
    letter-spacing: 1px;
  }

  @include mixins.respond(phone) {
    font-size: 1.6rem;
    letter-spacing: .8px;
  }
}

::selection {
  background: var(--white-100);
  color: var(--blue-400);
}

.heading {
  line-height: 120%;

  &--xl {
    font-size: 13.6rem;
    letter-spacing: -1.3px;

    @include mixins.respond(tab-land) {
      font-size: 10.4rem;
      letter-spacing: -0.52px;
    }

    @include mixins.respond(phone) {
      font-size: 4.8rem;
      letter-spacing: 1.24px;
    }
  }

  &--lg {
    font-size: 8.8rem;
    letter-spacing: 0;

    @include mixins.respond(phone) {
      font-size: 2.4rem;
      letter-spacing: 1.1px;
    }
  }

  &--md {
    font-size: 4.8rem;
    letter-spacing: 1.5px;

    @include mixins.respond(phone) {
      font-size: 2.4rem;
      letter-spacing: 1.1px;
    }
  }

  &--sm {
    font-size: 3.2rem;
    letter-spacing: 1.5px;
  }

  &--strokify {
    margin-inline: auto;
    --webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: var(--heading-gradient);
    position: relative;

    &::before {
      content: attr(stroke-text);
      position: absolute;
      left: 0;
      z-index: -1;
      -webkit-text-stroke: 16px var(--blue-300);

      @include mixins.respond(phone) {
        -webkit-text-stroke: 8px var(--blue-300);
      }
    }

    @include mixins.respond(phone) {
      margin-inline: 0;
    }
  }
}
