.section {
  min-height: 100vh;
  max-width: var(--width-lg);
  width: 100%;
  margin: 0 auto;
  padding: 8rem 11.2rem 4rem 11.2rem;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--bg-gradient);
    opacity: .75;
    z-index: -1;
  }

  @include mixins.respond(tablet) {
    padding: 6rem 4.8rem 4rem 4rem;
  }

  @include mixins.respond(phone) {
    padding: 3.2rem 2.55rem 3.2rem 2.55rem;
  }
}
