.section {
  min-height: 100vh;
  max-width: var(--width-lg);
  width: 100%;
  margin: 0 auto;
  padding: 6rem 19.2rem 3rem 19.2rem;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--bg-gradient);
    opacity: .75;
    z-index: -1;
  }

  @include mixins.respond(tablet) {
    padding: 4rem 3.8rem 3rem 3rem;
  }

  @include mixins.respond(phone) {
    padding: 2.2rem 2.25rem 2.7rem 2.25rem;
  }
}
